<div class="center-me margin-top-75">
    <h2 class="">Nonprofit Lunch and Learns Forge Deeper Connections in the Community</h2>
    <p><span class="fa fa-pencil"></span> Mitchell Black</p>
    <div class="share-me" id="share-nll-task-force"></div>
</div>
<div class="col-sm-12 col-md-8 col-md-offset-2 mobile-margin-b margin-b-100">
    <p>Every month, SOURCE hosts a Nonprofit Lunch and Learn (NLL), where we invite nonprofits from the surrounding area to commiserate over a meal and listen to a speaker. This year, I was one of the fortunate few who organized these events. I  enjoyed having meals outside of our dining halls, but mostly I loved meeting people committed to making a difference within their community. I always sat down with my lunch and chopped it up, learning about each nonprofit’s intricacies, why the organization fulfilled a need, and what nonprofit leaders  struggled with.</p>
    <p>During one of these conversations, I met Lanore Pearlman, who works in the Claremont Library and is one of the leaders of the Pomona Valley Shakespeare Club. She brings in speakers from the area to facilitate discussion about Shakespeare, but, as she explained, there are only so many people who are experts on Shakespeare. I recalled scrolling through the course registration and seeing the seemingly endless number of classes about the great playwright. I thought, “I should connect these people with these professors.”</p>
    <p>I recruited a team of SOURCE consultants, and within one working session, we connected the Shakespeare Club with seven potential speakers across the Claremont Colleges. Lanore, ever so kind and gracious for our help, invited the team to view a documentary she displayed at the library. One meal at the NLL allowed me to further entrench myself in nearby community, and use my resources at the colleges to enrich the Pomona Valley Shakespeare Club.</p>    
    <div class="modal-img-container">
        <img class="modal-photo" src="/assets/img/SOURCE/task-force/nll.png">
    </div>
</div>
