.signature h3 {
    margin: 0 0 5px;
}
.letter-managers {
    padding-bottom: 20px;
}
.equal-height-my-year {
    height: 265;
}
@media (max-width: 1199px) {
    .p-reg {
        display: none;
    }
}
@media (min-width: 1200px) {
    .p-truncate {
        display: none;
    }
    .col-letter-img img {
        max-width: 75%;
        display: inline-block;
        margin-left: -150px;
    }
    .col-letter-img {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .header-section-scroll .navbar-logo .navbar-logo-img {
        width: 80px;
    }
    .col-letter-img {
        text-align: center;
    }
    .col-letter-img img {
        max-width: 75%;
        display: inline-block;
        padding-bottom: 20px;
    }
}
@media (max-width: 600px) {
    .col-xxs-12 {
        width: 100%;
    }
}
@media (min-width: 600px) {
    .extra-letter-margin {
        margin-bottom: 20px;
    }
}
.btn-read-more {
    font-weight: 500;
}
.process-4-5 {
    padding-top: 40px;
}
.counter-stats-padding {
    padding-bottom: 25px;
}
.center-expand-clients {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.tab-pane {
    margin-bottom: 25px;
}
.hidden-button {
    display: none;
}
.hidden-clients {
    display: none;
}
.clients-center {
    text-align: center;
}
.letter-more div.col-sm-6 {
    padding-left: 0;
}
.article-modal {
    display: none;
}
.margin-b-15 {
    margin-bottom: 15px;
}
.remove-center {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fa-custom-lg {
    font-size: 3em;
    cursor: pointer;
    transition: 100ms;
}
.fa-custom-lg:hover {
    color: #418fab;
    transform: rotate(90deg);
    transition: 100ms;
}
.modal-row {
    margin: 0 15px;
}
.center-me {
    text-align: center;
}
img.lazy {
    opacity: 0;
    transition: opacity 1.5s ease-in;
}
img.lazy-no-transition {
    opacity: 0;
}
div.section-modal div.modal-row div ul li {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -.003em;
}
div.section-modal div.modal-row div p {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: -.003em;
}
@media (max-width: 600px) {
    div.section-modal div.modal-row div ul li {
        font-size: 16px;
        line-height: 1.5;
    }
    div.section-modal div.modal-row div p {
        font-size: 18px;
        line-height: 1.5;
    }
    div.center-me h2.article-title {
        font-size: 24px;
    }
    div.center-me p {
        font-size: 15px;
    }
    div.mobile-margin-b {
        margin-bottom: 50px;
    }
}
.margin-b-100 {
    margin-bottom: 100px;
}
.margin-top-80 {
    margin-top: 75px;
}
div.center-me h2.article-title {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-bottom: 5px;
}
div.center-me p {
    font-size: 18px;
}
#all-modals {
    overflow: hidden;
}
.tab-content>div.show-pane {
    display: block;
}
.tab-pane-left {
    border-right: 2px solid #418fab;
}
.tab-content div.row {
    margin-bottom: 20px;
}